body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start;
  padding-top: 20px;
  box-sizing: border-box;
}
#boite{
  background-color: white;
  border: 2px solid black;
  border-radius: 15px;
  padding: 20px;
  width: 300px;
}

.image-container img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%; 
  border: 3px solid black;
}

.texte-bas {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  color: green;
}
.contact-btn {
  background-color: blue;     
  color: blue;                 
  padding: 10px 10px;           
  font-size: 10px;              
  font-weight: bold; 
  text-decoration: none;        
  border-style: 1px solid black;
  border-radius:40px;
}

.contact-btn:hover {
  background-color: darkblue;   
}
#cidt{
  font-weight: bold;
}

