h1 {
color:blue;  
font-style:italic;
border-style: solid;
border-color:red;
background-color: yellow ;
}
h2{
  color:red; 
  font-style:italic;
  border-style: groove;
}
#mange{
 font-size:25px; 
}
p{
  border-color: black;
  border-style:dotted;
  background-color: orange;
}  
.image gauche {
float:left width=100px;

  
}